.curLightState {
  display: block;
  float: left;
  position: relative;


  margin: 0 20px;
  border: 1px solid #888;
  text-align: center;

  i.lamp {
    padding:20px 20px;
    font-size: 90px;
    color: #fff;
    opacity: 0.5;
    @include text-shadow(0px 0px 5px #000);
  }

  .tools {
    position: absolute;
    right: 0;
    bottom: 0;

    a {
      color: #fff;
      padding: 5px;
      @include text-shadow(0px 0px 3px #000);

      &:hover,
      &:active,
      &:visited
      {
        color: #fff;
      }
    }

    a.powerswitch {

    }

    a.selectcolor {

    }
  }



  &.active {
    border-color: #fff;
  }
}